/* FRONT END OPTIONS */

#selectFrontEnd {
  display: none;
}

#selectSpecific {
  display: none;
}

#selectBroad {
  display: none;
}

/* BACK END OPTIONS */

#selectBackEnd {
  display: none;
}

#selectLarge {
  display: none;
}

#selectSmall {
  display: none;
}

#selectNoPreference {
  display: none;
}

#selectOne {
  display: none;
}

#selectMultiple {
  display: none;
}

#backToMain {
  float: right;
}
